<h1> Booking Vendors: A Wedding Planning Checklist</h1>
    <p>The question is popped, the ring is on, stars are in your eyes...but now what? With so many tasks to take care of and details to arrange, planning a wedding can seem overwhelming. Organization is key to keeping everything on track when you’re faced with decisions, lists, deadlines, and everyday life to deal with. If you give yourself enough time to plan and sort the tasks month by month with a wedding-planning checklist, the job becomes more fun and less stressful.</p>
<h2>Let's Get Started!</h2>
<h3><b><a href="/signup">SIGN UP</a></b>
<br>
<b><a href="/login">LOGIN</a></b></h3>
