<h1>Sign Up Here</h1><br>
<p></p>
<form method="POST" action="/signup">

  <label for="username">Username:</label>
  <input type="text" name="bride[username]">
  <label for="email">Email:</label>
  <input type="email" name="bride[email]" required>
  <label for="password">Password:</label>
  <input type="password" name="bride[password]">
  <p></p>
  <p><input type="submit" value="Sign Up"></p>

</form>

<% if @errors %>
    <h3><%= @errors %></h3>
<% end %>
